[Desktop Entry]
Type=Application
Version=1.0
Name=toggle
Comment=graphics drawing tool
Exec=/home/username/mnene/programming/creation/toggle/toggle
Path=/home/username/mnene/programming/creation/toggle/
Terminal=false
Categories=Utility;Development;

